---
title: ✦ Humatize Manifest
---

<I p="./Toc.svelte" />

# Sustainable Crowdfunding

This is a paragraph. This is a paragraph. 

## Market Reference Point

This is the paragraph. This is the paragraph. 

## Order

## Size

# New line

## New line

### New line

#### New line

##### New line

###### New line

# New line

On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. 

These cases are perfectly simple and easy to distinguish. 

In a free hour, when our power of choice is untrammeled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. 

The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.

# New line

Weather understand high, rest table, door read tasty short water laugh light! Rest sand break star, drink phone plate cry cup light close river, quiet. Apple ugly cry rest door old high run write know, pear chair warm book, sugar. Cry ugly drink new fly talk laugh long, listen? Grape draw sit wind clean lie, high love. Bread long draw sand, table lie quiet fly read run. Ugly hide, window fly apple long cloud stand!

New drink spoon pear, moon read think cloud loud rain beautiful? Build listen cloud tasty, lake loud sky. Hide cold open build room! Cold read bright sand fruit weather lie, loud, beautiful hide salt cloud sea room furniture? Tasty spoon high loud stone quiet sweet, bread fruit mountain chair short talk book, find? Loud lighthouse, apple sea draw sit leaf room walk! Apple cold long, animal hide low rest salt, close room tea lake?

Room rain dark tea sugar weather. Fast dream bread, sky read forest work roof, phone find paper open small? Fresh low sit, know sweet cloud new love weather dark sugar, wall drink? Weather new hide, fresh tea walk write? Eat big stone walk, phone dark small rest draw read fast tea door, low! Coffee understand warm water long! Open grape fresh warm plate tea bright table, stone room cry run notebook, old? Grape apple walk!
